{
    "logTypeIdentifier": [
        {
            "identifier": [
                {
                    "find": "UnifiedAgent version"
                },
                {
                    "find": "WhiteSource Scan Summary"
                }
            ],
            "name": "UnifiedAgent",
            "searchTerms": [
			    {
                    "dictionaryItems": [
                        {
                            "key": "Version",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": ") :"
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "UnifiedAgent version"
                        },
                        {
                            "find": "(pluginVersion)"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "UnifiedAgentVersion",
                    "Summary": "Unified Agent Version: {{dictionary(Version)}}"
                },
				{
				    "dictionaryItems": [
                        {
                            "key": "modulesFound",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "End parsing pom files, found :"
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "End parsing pom files, found :"
                        },
                        {
                            "find": ","
                        }
                    ],
                    "includeInSummary": true,
                    "name": "MultiModule",
                    "Summary": "POM Multi-Module: {{dictionary(modulesFound)}}"
                },				
			    {
                    "display": false,
                    "filters": [
                        {
                            "find": "WhiteSource Scan Summary:"
                        }
                    ],
					"textSelection": [{
						"findUp": "-------------------------------------",
						"findDown": "Process finished with exit code" 
					}],
                    "includeInSummary": true,
                    "name": "ScanSummary",
                    "Summary": "\r\n{{SHOWTEXT}}"
                },	

			
                {
                    "display": true,
                    "filters": [
                        {
                            "find": "isPsbScan",
							"find": "buildToolEnabled: true"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "isPsbScan",
                    "Summary": "This is a PSB Scan"
                },
                {
                    "dictionaryItems": [
                        {
                            "key": "SupportToken",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Support Token:"
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "Support Token:"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "SupportToken",
                    "Summary": "Support Token: {{dictionary(SupportToken)}}"
                },
                {
                    "display": false,
					"dictionaryItems": [
                        {
                            "key": "ProjectName",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Project name:"
                        }
                    ],
                    "filters": [
                        {
                            "find": "Project name:"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "ProjectName",
                    "Summary": "Project Name and URL: {{dictionary(ProjectName)}}"
                },
				{
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "(in ",
                            "textStartIndexOf": "Cannot run program "
                        },
                    ],
                    "display": true,
                    "filters": [
                        {
                            "find": "executeProcess"
                        },
                        {
                            "find": "[WARN]"
                        },
						{
                            "find": "Exception: Cannot run program"
                        },
						{
                            "find": "No such file or directory"
                        },
                        {
                            "find": "Command"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "ExecuteProcessError",
                    "nextSteps": "Error executing package manager command: {{dictionary(Command)}}. This is probably not installed, please consider installing.\r\nGoogle Search Term: {{dictionary(Command)}} install",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}.  Please consider installing. Most likely missing."
                },
				{
                    "dictionaryItems": [
                        {
                            "key": "dependenciesFailed",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "] - "
                        },
                    ],
                    "display": true,
                    "filters": [
                        {
                            "find": "resolveDependencies = true"
                        },
                        {
                            "find": "[WARN]"
                        },
						{
                            "find": "resolving dependencies failed"
                        }
                    ],
					"textSelection": [{
						"findUp": "Command result error lines",
						"findDown": "resolving dependencies failed" 
					}],
                    "includeInSummary": true,
                    "name": "ResolvingDepsFailed",
                    "nextSteps": "{{dictionary(dependenciesFailed)}}. Check the above \"Findinds directly from file\" to find more detail.",
                    "Summary": "{{dictionary(dependenciesFailed)}}."
                },				
				{
					"dedupe": true,
                    "display": false,
                    "filters": [
                        {
                            "find": "executeProcess"
                        },
                        {
                            "find": "[WARN]"
                        },
						{
                            "find": "error in execute command"
                        },
						{
                            "find": " nuget restore"
                        },
                        {
                            "find": "Exit Status 1"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "NuGetRestoreError",
                    "nextSteps": "Command - executeProcess - error in execute command 'cmd /c nuget restore ...', Exit Status 1 was found in the logs.  There are a few reasons why this can occur, if your stuck trying to resolve, you might consider reviewing this article for help.\r\nhttps://stackoverflow.com/questions/11115790/nuget-exited-with-code-1-build-failing-as-a-result ",
                    "Summary": "Command - executeProcess - error in execute command 'cmd /c nuget restore ...', Exit Status 1 was found in the logs.  There are a few reasons why this can occur, if your stuck trying to resolve, you might consider reviewing this article for help.\r\nhttps://stackoverflow.com/questions/11115790/nuget-exited-with-code-1-build-failing-as-a-result "
                },
                {
					"dedupe": true,
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
						{
                            "key": "NextStepsExecutionError",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
                        {
                            "key": "ExitStatus",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Exit Status "
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "[WARN]"
                        },
                        {
                            "find": "Exit Status"
                        },
						{
						    "exclude": "Nuget"
						},
						{
						    "exclude": "dotnet"
						}						
                    ],
                    "includeInSummary": true,
                    "name": "ExecutionError",
                    "nextSteps": "Error executing package manager command: {{dictionary(NextStepsExecutionError)}}.  Exited with status code: {{dictionary(ExitStatus)}}",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}.  Exited with status code: {{dictionary(ExitStatus)}}",
					"outputText": "*Note: Please review this line as it will help you know exactly what command was executed."
                },
                {
					"dedupe": true,
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
						{
                            "key": "NextStepsExecutionError",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
                        {
                            "key": "ExitStatus",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Exit Status "
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "[WARN]"
                        },
						{
                            "find": "nuget"
                        },
                        {
                            "find": "Exit Status"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "ExecutionErrorNuget",
                    "nextSteps": "Error executing package manager nuget.  Exited with status code: {{dictionary(ExitStatus)}}",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}.  Exited with status code: {{dictionary(ExitStatus)}}",
					"outputText": "*Note: Please review this line as it will help you know exactly what command was executed."
                },			
				{
					"dedupe": true,
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
						{
                            "key": "NextStepsExecutionError",
                            "textEndIndexOf": "',",
                            "textStartIndexOf": "command '"
                        },
                        {
                            "key": "ExitStatus",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Exit Status "
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "[WARN]"
                        },
						{
                            "find": "dotnet"
                        },
                        {
                            "find": "Exit Status"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "ExecutionErrorDotnet",
                    "nextSteps": "Error executing dotnet.  Exited with status code: {{dictionary(ExitStatus)}}.  This might be tied to a Nuget error.",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}.  Exited with status code: {{dictionary(ExitStatus)}}",
					"outputText": "*Note: Please review this line as it will help you know exactly what command was executed."
                },	
                {
                    "dictionaryItems": [
                        {
                            "key": "Command",
                            "textEndIndexOf": "' ",
                            "textStartIndexOf": ": '"
                        }
                    ],
                    "display": true,
                    "filters": [
                        {
                            "find": "is not recognized as an internal or external command"
                        },
                        {
                            "find": "[WARN]"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "PackageManagerError",
                    "nextSteps": "Error executing package manager command: {{dictionary(Command)}}.",
                    "Summary": "Error executing package manager command: {{dictionary(Command)}}."
                },
				  {
                    "dictionaryItems": [
                        {
                            "key": "FailedToSendError",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "Failed to send request"
                        }
                    ],
                    "display": true,
                    "filters": [
                        {
                            "find": "Failed to send request to WhiteSource server"
                        },
                        {
                            "find": "Connection reset"
                        },						
                        {
                            "find": "[ERROR]"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "FailedToSendRequestToServer",
                    "nextSteps": "Failed to send request {{dictionary(FailedToSendError)}}.  This could be related to several root causes.  Please Check the following:\r\n1. Internet connectivity is working where this was executed.\r\n2. If using a proxy, proxy is working properly.\r\n\r\nSuggestion that you might give: Set wss.connectionTimeoutMinutes=180 and commandTimeout=1800 ",
                    "Summary": "Failed to send request {{dictionary(FailedToSendError)}}."
                },
                {
                    "display": true,
                    "filters": [
                        {
                            "regex": "\\[WARNING\\]"
                        }
                    ],
                    "includeInSummary": false,
                    "name": "Warn"
                },
                {
                    "display": false,
                    "filters": [
                        {
                            "find": "[WARN]"
                        },
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "Exit Status"
                        }
                    ],
                    "groupResults": false,
                    "includeInSummary": true,
                    "name": "ExecuteFailure"
                }
            ],
            "showFindingResultsAtBottom": true
        },
		
		{
            "identifier": [
                {
                    "find": "com.wss.bolt.op.webhook"
                },
                {
                    "find": "Intercepted SCM event payload"
                }
            ],
            "name": "ControllerLog",
            "searchTerms": [
				{
                    "dictionaryItems": [
						{
                            "key": "ProductName",
                            "textEndIndexOf": ";",
                            "textStartIndexOf": ";Product_Name="
                        }
                    ],
                    "display": false,
					"dedupe": true,
                    "filters": [
					    {
                            "find": "Product_Name"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "Product Name",
                    "Summary": "Found Product Name: {{dictionary(ProductName)}}\r\n",
					"nextSteps": "Found Product Name: {{dictionary(ProductName)}}\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "ProjectName",
                            "textEndIndexOf": ";",
                            "textStartIndexOf": ";PROJECT_NAME="
                        }
                    ],
                    "display": false,
                    "filters": [
					    {
                            "find": "Project_Name"
                        }
                    ],
                    "includeInSummary": true,
					"dedupe": true,
                    "name": "ProjectName",
                    "Summary": "Found Project Name: {{dictionary(ProjectName)}}\r\n",
					"nextSteps": "Project Name: {{dictionary(ProjectName)}}\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "ctxID",
                            "textEndIndexOf": ";",
                            "textStartIndexOf": "[CTX="
                        }
                    ],
                    "display": false,
                    "filters": [
					    {
                            "find": "CTX"
                        }
                    ],
                    "includeInSummary": true,
					"dedupe": true,
                    "name": "CTX",
                    "Summary": "CTX ID: {{dictionary(ctxID)}}\r\n",
					"nextSteps": "CTX ID: {{dictionary(ctxID)}}\r\n"
                },			
                {
                    "dictionaryItems": [
                        {
                            "key": "owner",
                            "textEndIndexOf": ";",
                            "textStartIndexOf": ";OWNER="
                        },
						{
                            "key": "repo",
                            "textEndIndexOf": "] ",
                            "textStartIndexOf": ";REPO="
                        },
						{
                            "key": "repoType",
                            "textEndIndexOf": " CheckRun",
                            "textStartIndexOf": "Failed to update "
                        }
                    ],
                    "display": true,
                    "filters": [
					    {
                            "find": "[ERROR]"
                        },
                        {
                            "find": "CheckRun"
                        },
                        {
                            "find": "Failed to update"
                        },
						                        {
                            "exclude": "shadow"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "FailedCheckRun",
                    "Summary": "This may result in hanging/not updated checkRuns:\r\nFailed CheckRun: RepoType: {{dictionary(repoType)}} Owner:{{dictionary(owner)}}  Repo:{{dictionary(repo)}}.\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "rateLimitMessage",
                            "textEndIndexOf": "\",",
                            "textStartIndexOf": "errorBody:"
                        },
						{
                            "key": "repoType",
                            "textEndIndexOf": " CheckRun",
                            "textStartIndexOf": "Failed to update "
                        },
                    ],
                    "display": true,
                    "filters": [
					    {
                            "find": "API rate limit exceeded for"
                        },
                        {
                            "find": "errorBody"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "APIRateLimitExceeded",
                    "Summary": "Rate Limit Exceeded - Details:\r\nAPI{{dictionary(rateLimitMessage)}}\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "rateLimitMessage",
                            "textEndIndexOf": "\",",
                            "textStartIndexOf": "errorBody:"
                        },
						{
                            "key": "repoType",
                            "textEndIndexOf": " CheckRun",
                            "textStartIndexOf": "Failed to update "
                        },
                    ],
                    "display": true,
                    "filters": [
					    {
                            "find": "Exiting - failed to execute psb."
                        },
					    {
                            "find": "error: unknown"
                        },		
						{
                            "find": "flag:"
                        },	
                        {
                            "find": "[WARN]"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "FailedToExecutePSB",
                    "Summary": "\r\nThis resulted in dependency resolution failure (aka 0 dependencies) and empty project in Mend UI - The reason is that at the moment PSB doesn’t honor hostRules from the Repo Integration\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "psbCommand",
                            "textEndIndexOf": "]",
                            "textStartIndexOf": "running PSB with arguments"
                        }
                    ],
                    "display": true,
                    "filters": [
					    {
                            "find": "running PSB with arguments"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "PSB_Arguments",
                    "Summary": "\r\nPSB Arguments: {{dictionary(psbCommand)}}]\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "psbEnvironment",
                            "textEndIndexOf": "}\",",
                            "textStartIndexOf": "environment variables for psb:"
                        }
                    ],
                    "display": true,
                    "filters": [
					    {
                            "find": "environment variables for psb:"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "PSB_Environment",
                    "Summary": "\r\nPSB Environment: {{dictionary(psbEnvironment)}}}\r\n"
                },
				{
                    "dictionaryItems": [
						{
                            "key": "failedToGetProj",
                            "textEndIndexOf": " project.",
                            "textStartIndexOf": "Failed to get "
                        }
                    ],
                    "display": true,
                    "filters": [
					    {
                            "find": "Failed to get "
                        },
					    {
                            "find": "project"
                        },		
						{
                            "find": "[ERROR]"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "FailedToGetProject",
                    "Summary": "\r\nFailed to get {{dictionary(failedToGetProj)}} project.  This may cause duplication of projects.\r\n"
                },
				{
                    "display": true,
                    "filters": [
					    {
                            "find": "Failed to handle webhook due to an unexpected exception"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "FailedToHandleWebhook",
                    "Summary": "Failed to handle webhook due to an unexpected exception was found.  Please review details in the finding.",
					"nextSteps": "Failed to handle webhook due to an unexpected exception was found.  Please review details in the finding."
                },
	
                {
                    "display": false,
                    "filters": [
                        {
                            "find": "[WARN]"
                        },
                        {
                            "find": "error in execute command"
                        },
                        {
                            "find": "Exit Status"
                        }
                    ],
                    "groupResults": false,
                    "includeInSummary": true,
                    "name": "ExecuteFailure"
                }
            ],
            "showFindingResultsAtBottom": true
        },
		{
            "identifier": [
                {
                    "find": "The processing of the following modules did not complete:"
                },
                {
                    "find": "MODULE(1)"
                }
            ],
            "name": "xModuleAnalyzerLog",
            "searchTerms": [
				{
                    "dictionaryItems": [
						{
                            "key": "ProductName",
                            "textEndIndexOf": ";",
                            "textStartIndexOf": ";Product_Name="
                        }
                    ],
                    "display": false,
					"dedupe": true,
                    "filters": [
					    {
                            "find": "Product_Name"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "Product Name",
                    "Summary": "Found Product Name: {{dictionary(ProductName)}}\r\n",
					"nextSteps": "Found Product Name: {{dictionary(ProductName)}}\r\n"
                }
            ],
            "showFindingResultsAtBottom": true
        },
		{
            "identifier": [
                {
                    "find": "SAST CLI"
                },
                {
                    "find": "SAST Connection URL"
                }
            ],
            "name": "SASTCLI",
            "searchTerms": [
				 {
                    "dictionaryItems": [
                        {
                            "key": "Version",
                            "textEndIndexOf": " GitCommit",
                            "textStartIndexOf": "version: "
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "SAST CLI version"
                        },
                        {
                            "find": "GitCommit"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "SastCLIVersion",
                    "Summary": "SAST CLI Version: {{dictionary(Version)}}"
                },
				{
                    "dictionaryItems": [
                        {
                            "key": "EnvVars",
                            "textEndIndexOf": "\r\n",
                            "textStartIndexOf": "SAST environment variables"
                        }
                    ],
                    "display": false,
                    "filters": [
                        {
                            "find": "SAST environment variables"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "SastCLIEnvVars",
                    "Summary": "SAST Environment Vars: {{dictionary(EnvVars)}}"
                },		
				{
                    "display": false,
                    "filters": [
                        {
                            "find": "Active Mend scope"
                        }
                    ],
					"textSelection": [{
						"findUp": "Selected upstream's remote",
						"findDown": "Scan:" 
					}],					
                    "includeInSummary": true,
                    "name": "SastScope",
                    "Summary": "SAST Scope Details:\r\n{{SHOWTEXT}}"
                },						
				{
                    "dictionaryItems": [
						{
                            "key": "ProductName",
                            "textEndIndexOf": ";",
                            "textStartIndexOf": ";Product_Name="
                        }
                    ],
                    "display": false,
					"dedupe": true,
                    "filters": [
					    {
                            "find": "Product_Name"
                        }
                    ],
                    "includeInSummary": true,
                    "name": "Product Name",
                    "Summary": "Found Product Name: {{dictionary(ProductName)}}\r\n",
					"nextSteps": "Found Product Name: {{dictionary(ProductName)}}\r\n"
                }
            ],
            "showFindingResultsAtBottom": true
        }
    ]
}